*{
    margin: 0;
    padding: 0;
}
body{
    background-color: #160634;
    color: aliceblue;
}
.left span{
    font-size: 48px;
    color: antiquewhite;
    text-decoration: underline;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family:Arial, Helvetica, sans-serif;
    font-weight: bold;
}
nav{
    height:70px;
    display: flex;
    justify-content: space-around;
    background-color: #be401a;
    color: #efebef;
}
nav ul{
    display: flex;
    justify-content:space-around;
    align-items: center;
    }
    nav ul li{
        list-style: none;
        margin: 10px;
       
    }
    .right{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .leftContainer{
        display: flex;
        float:left;
        margin: 100px;
    }
    .rightContainer{
        display: flex;
        float: right;
    }
    .leftContainer span{
        color: #dbe822;
        font-size: 32px;
        font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        
    }
    .hello{
        margin: 10px;
    }
    .wrapper{
        display: flex;
        justify-content: space-around;
        align-items: center;
        box-sizing: border-box;
        border-radius: 20%;
        background-color: #c9dfdf;
        height: 210px;
        box-shadow: 8px 2px 10px 8px rgb(90, 143, 192);
    }
    .image .code{
        height: 205px;
        width: 260px;
        border-radius:17% ;
        float: right;
        display: flex;
        justify-content: end;
    }
    .about{
        padding: 30px;
        margin: 0;
        box-sizing: border-box;
        

    }
    .cont{
        padding: 30px;
        text-decoration: underline;
         }
         .proj{
            padding: 40px;
            margin:10px ;
            box-sizing: border-box;
         }
         .proj{
            padding: 40px;
            margin: 0px;
            box-sizing: border-box;
            
         }
         .proj .hey{
            margin: 5px;
         }